{% extends "base.html" %

{% block content %}
    <h2>Ascii Art</h2>
    <form method="post">
        <label>
            <div>Title</div>
            <input type="text" name="title" value="{{title}}">
        </label>
        <label>
            <div>Art</div>
            <textarea name="art">{{art}}</textarea>
        </label>
        <div class="error">{{error}}</div>
        <input type="submit" name="submit" value="Submit Art">
        <input type="submit" name="back" value="Back">
    </form>
{% endblock %}
